<ion-list>
  <ion-item>
    <ion-label position="floating">Imagem do Produto</ion-label>
    <ion-input [(ngModel)]="produto.photoItem" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome do Produto</ion-label>
    <ion-input [(ngModel)]="produto.nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Tamanho</ion-label>
    <ion-radio-group [(ngModel)]="produto.tamanho">
      <ion-item>
        <ion-radio value="P"></ion-radio>
        <ion-label class="ion-padding-end">P</ion-label>
        <ion-radio value="M"></ion-radio>
        <ion-label class="ion-padding-end">M</ion-label>
        <ion-radio value="G"></ion-radio>
        <ion-label>G</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cor</ion-label>
    <ion-input [(ngModel)]="produto.cor" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Gênero</ion-label>
    <ion-radio-group [(ngModel)]="produto.publico">
      <ion-item>
        <ion-radio value="Unisex"></ion-radio>
        <ion-label class="ion-padding-end">U</ion-label>
        <ion-radio value="Feminino"></ion-radio>
        <ion-label class="ion-padding-end">F</ion-label>
        <ion-radio value="Masculino"></ion-radio>
        <ion-label>M</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input [(ngModel)]="produto.valor" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contato</ion-label>
    <ion-input [(ngModel)]="produto.contato" type="tel"></ion-input>
  </ion-item>
  <ion-button (click)="getPhoto()" expand ="block">Adicionar foto do produto</ion-button>
  <img [src]="photo">
  <ion-button (click)="this.added.emit()" expand="block">
    Adicionar Produto
  </ion-button>
</ion-list>