<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Carrinho
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div id="container">

        <ion-card>
            <ion-card-content>
                <ion-text><strong>Total de Items: 2</strong></ion-text>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-grid>
                    <ion-row>
                        <ion-text>Entre o seu CEP</ion-text>
                    </ion-row>

                    <ion-row>
                        <ion-col size="auto">
                            <ion-item>
                                <ion-input placeholder="*****-***"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-button>CALCULAR FRETE</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-header>
        </ion-card>


        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>PRODUTO #1</ion-card-subtitle>
                <ion-card-title>Roupa Feminina Alugada</ion-card-title>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="auto">
                                <ion-thumbnail>
                                    <ion-img src="https://images.pexels.com/photos/3724459/pexels-photo-3724459.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"></ion-img>
                                </ion-thumbnail>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Selecione uma opcao</ion-label>
                                    <ion-select placeholder="Duracao do aluguel">
                                        <ion-select-option>4 dias - R$100,00</ion-select-option>
                                        <ion-select-option>8 dias - R$200,00</ion-select-option>
                                        <ion-select-option>Duas semanas - R$400,00</ion-select-option>
                                        <ion-select-option>1 mês - R$800,00</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                    </ion-grid>


                </ion-card-content>
            </ion-card-header>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>PRODUTO #2</ion-card-subtitle>
                <ion-card-title>Roupa Masculina Alugada</ion-card-title>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="auto">
                                <ion-thumbnail>
                                    <ion-img src="https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
                                </ion-thumbnail>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Selecione uma opcao</ion-label>
                                    <ion-select placeholder="Duracao do aluguel">
                                        <ion-select-option>4 dias - R$100,00</ion-select-option>
                                        <ion-select-option>8 dias - R$200,00</ion-select-option>
                                        <ion-select-option>Duas semanas - R$400,00</ion-select-option>
                                        <ion-select-option>1 mês - R$800,00</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                    </ion-grid>


                </ion-card-content>
            </ion-card-header>
        </ion-card>

        <ion-card>
            <ion-card-header>Periodo de aluguel</ion-card-header>
            <ion-item>
                <ion-datetime displayformat="DD de MMMM" placeholder="Selecione a data de inicio"></ion-datetime>
            </ion-item>
        </ion-card>

        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-button color="success" click="fazerPagamento()"><strong>CONFIRMAR ALUGUEL</strong></ion-button>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>
