#container{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    display: inline-block;
  }
  #entrar{
  margin-top: 7px;
  margin-left: 73%;
  }
  #Ola{
  font-size: 30px;
  margin-top: -55px;
  margin-left: 15px;
  font-style: bold;
  background-color:white;
  color:black;
  padding: 5px;
  position: relative;
  margin-right: 52%;
  border-radius: 10px;
  
  }
  #esqueceu{
  margin-top: -30px;
  margin-left: 18%;
  }
  a { color: inherit;
    text-decoration:none;
   } 
   #Foto1{
    margin-top: -20px;
   }
   #branca{
     background-color: white;
     width: 15px;
     height: 50px;
     float: initial;
   }
   #p1{
color: red;
   }