<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Informações do produto
    </ion-title>
    <ion-button slot="start" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="closeModal()" [routerLink]="['/editar', produto.nome]">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
     
   <img size="auto" src="https://static3.tcdn.com.br/img/img_prod/311840/camisa_nike_corinthians_ii_2018_56404_1_20191202190434.jpg">
   <ion-card-content>
    <ion-text>Imagem: </ion-text>
   <ion-text>{{produto.photoItem}}</ion-text>
  </ion-card-content>
   <ion-card-content>
    <ion-text>{{produto.nome}}</ion-text>
   </ion-card-content>
   <ion-card-content>
     <ion-text>Tamanho: </ion-text>
    <ion-text>{{produto.tamanho}}</ion-text>
   </ion-card-content>
   <ion-card-content>
    <ion-text>Cor: </ion-text>
    <ion-text>{{produto.cor}}</ion-text>
   </ion-card-content>
   <ion-card-content>
     <ion-text>Gênero: </ion-text>
    <ion-text>{{produto.publico}}</ion-text>
   </ion-card-content>
   <ion-card-content>
    <ion-text>Valor: </ion-text>
   <ion-text>{{produto.valor}}</ion-text>
  </ion-card-content>
  <ion-card-content>
    <ion-text>contato: </ion-text>
   <ion-text>{{produto.contato}}</ion-text>
  </ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>