<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Informações do produto
    </ion-title>
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
     
   <img size="auto" src="https://static.netshoes.com.br/produtos/camiseta-pica-pau-meme-reserva-masculina/06/B67-1682-006/B67-1682-006_detalhe1.jpg?ts=1601876416">

    
    </ion-card-content>
  </ion-card>
</ion-content>