

<ion-content>
  <div id="imagemSobre">
    <img src="https://imagens-revista.vivadecora.com.br/uploads/2020/03/Como-tirar-pelo-de-roupa-freepik.jpg">
</div>
<div id="Ola">
  Lojas UAM
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-card>
  <ion-card-header>
    <ion-card-title>SAC</ion-card-title>
    <br>
    <ion-card-subtitle>Serviço de Atendimento ao Cliente</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
<ion-text> <strong>Caro estudante, seja bem vindo ao APP Lojas UAM</strong></ion-text>
<ion-text>  <br>
  <br>
  <br>
  Estamos disponíveis para te antender 24 horas por dia, 7 dias por semana através do e-mail:
  <br>
  <ion-item  text-center lines="none">
    <ion-label><strong>suporte@appuam.com</strong></ion-label>
  </ion-item>
  


  
  <br>
  <br>
  <br>
  Versão: 1.0.0.2</ion-text>
</ion-card-content>
</ion-card>
</ion-content>
