#imagemSobre{
    margin-top: -20px;
}
#Ola{
    font-size: 25px;
    margin-top: -220px;
    margin-left: 10px;
    font-style: bold;
    background-color:black;
    padding: 5px;
    position: relative;
    margin-right: 52%;
    border-radius: 10px; 
    }

#conteudo{
    text-align: center;
}
h1{
    text-align: center;
    color:black;
    background-color: white;
    border-radius: 15px;
}