#imagemSobre{
    margin-top: -20px;
}
#Ola{
    font-size: 30px;
    margin-top: -55px;
    margin-left: 15px;
    font-style: bold;
    background-color:black;
    padding: 5px;
    position: relative;
    margin-right: 52%;
    border-radius: 10px; 
    }